<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Baile
            </a>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Na Táirgí Uile
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">De réir phraghais</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item">De réir mheasúnaithe</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item">De réir aicme</a>
                <a href="{% url 'products' %}" class="dropdown-item">Gach Táirge</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Éadaí
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=activewear,essentials" class="dropdown-item">Éadaí Gníomhach</a>
                <a href="{% url 'products' %}?category=jeans" class="dropdown-item">Brístí</a>
                <a href="{% url 'products' %}?category=shirts" class="dropdown-item">Léinte</a>
                <a href="{% url 'products' %}?category=activewear,essentials,jeans,shirts" class="dropdown-item">Na hÉadaí Uile</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Earraí Baile
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category=bed_bath" class="dropdown-item">Leapacha ⁊ Seomra Folctha</a>
                <a href="{% url 'products' %}?category=kitchen_dining" class="dropdown-item">Cistin ⁊ Seomra Bia</a>
                <a href="{% url 'products' %}?category=bed_bath,kitchen_dining" class="dropdown-item">Gach Earra Baile</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tairiscintí Faoi Leith
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">Táirgí Nua</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Margaí Maithe</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Fuíoll Ar Díol</a>
                <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="dropdown-item">Na Tairiscintí Uile</a>
            </div>
        </li>
    </ul>
</div>